@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-hex: #fafafa;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-hex: #32476F;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-hex);
  box-size: border-box;
}
